<div class="container">
<% @blogs.each do |b| %>
	<div class="panel panel-blog">
		<div class="blog_title">
			<h3><%= link_to b.title,blog_path(b.slug) %></h3>
		</div>
		<div class="blog-info">
			分类:<%=link_to b.category.name,category_path(b.category.name) %> |
			浏览次数：<%= b.view_count%> |
			发布:<%= b.created_at %>
		</div>
		<div class="blog-body">
			<%= b.content %>
		</div>
	</div>
<% end %>
</div>
