<!DOCTYPE html>
<html>
<head>
  <title>MingApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/flash' %>
	<div class="main">
	    <div class="container">
		<div class="row">
		    <div class="col-md-9">
			<%= yield %>
	    	    </div>
		    <div class="col-md-3">
			<%= render 'layouts/sidebar' %>
		    </div>
		</div>
	    </div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
